<!-- footer area start -->
<footer style="color: white !important;" class="rs-footer-area rs-footer-one black-bg">
    <div class="rs-footer-bg-thumb" data-background="assets/images/bg/footer-bg-01.png">
    </div>
    <div class="container">
        <div class="rs-footer-wrapper">
            <div class="rs-footer-item">
                <div class="rs-footer-widget footer-1-col-1">
                    <div class="rs-footer-widget-logo">
                        <a href="index.html">
                            <img src="assets/my-images/logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="rs-footer-widget-content">
                        <p class="rs-footer-widget-description">
                            شركة الطبقات المتعددة متخصصة في العزل المائي والحراري، إصلاح الخرسانة والتدعيم الإنشائي بمعايير جودة عالية وكفاءة احترافية
                        </p>
                        <div class="rs-footer-widget-stroke-text">
                            <h3 class="rs-footer-stroke-text">طبقات متعددة</h3>
                        </div>
                        <div class="rs-footer-copyright underline">
                            <p>© <span id="year">
                            </span> شركة الطبقات المتعددة. جميع الحقوق محفوظة.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rs-footer-item">
                <div class="rs-footer-widget footer-1-col-2">
                    <h3 class="rs-footer-widget-title">روابط مفيدة</h3>
                    <div class="rs-footer-widget-content">
                        <div class="rs-footer-widget-links">
                            <ul>
                                <li>
                                    <a href="index.html">الرئيسية</a>
                                </li>
                                <li>
                                    <a href="products.html">منتجاتنا</a>
                                </li>
                                <li>
                                    <a href="waterproofing-thermal-insulation.html">عزل مائي و حراري</a>
                                </li>
                                <li>
                                    <a href="epoxy-flooring-coating.html">دهانات ايبوكسية</a>
                                </li>
                                <li>
                                    <a href="our-services.html">خدماتنا</a>
                                </li>
                                <li>
                                    <a href="concrete-repair-injection.html">حقن و اصلاح الخرسانة</a>
                                </li>
                                <li>
                                    <a href="certificates.html">الشهادات</a>
                                </li>
                                <li>
                                    <a href="structural-strengthening.html">خدمات التدعيم</a>
                                </li>
                                <li>
                                    <a href="projects.html">بعض مشاريعنا</a>
                                </li>
                                <li>
                                    <a href="contact-us.html">تواصل معنا</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rs-footer-item">
                <div style="margin-right: 30px;" class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="rs-footer-widget footer-2-col-4">
                        <h3 class="rs-footer-widget-title">معلومات التواصل</h3>
                        <div class="rs-footer-widget-content">
                            <div class="rs-footer-widget-contact-info">
                                <div class="rs-footer-widget-number">
                                    <span>
                                        <a href="tel:00966581032502">00966581032502</a>
                                    </span>
                                </div>
                                <div class="rs-footer-widget-email">
                                    <span>
                                        <a href="mailto:Info@tabqat.com.sa">Info@tabqat.com.sa</a>
                                    </span>
                                </div>
                                <div class="rs-footer-widget-number">
                                    <span>
                                        <a style="color: #3fada2;font-size: 17px;" href="assets/profile.pdf" download>
                                            <button style="width: 170px;height: 50px; border: none; background-color: white;border-radius: 4px;margin: 9px 0px;padding: 3px;font-weight: 700;">تحميل البروفايـل</button>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <h3 style="margin-bottom: 20px;" class="rs-footer-widget-title">تابعنا</h3>
                        <div class="rs-footer-widget-social">
                            <div class="rs-theme-social has-theme-red">
                                <a href="https://x.com/tabqatsa" aria-label="إكس (تويتر)">
                                    <i class="ri-twitter-x-line">
                                    </i>
                                </a>
                                <a href="https://www.facebook.com/share/187D62wJ7w/" aria-label="فيسبوك">
                                    <i class="ri-facebook-fill">
                                    </i>
                                </a>
                                <a href="https://www.instagram.com/tabqat.sa/" aria-label="إنستغرام">
                                    <i class="ri-instagram-line">
                                    </i>
                                </a>
                                <a href="https://www.youtube.com/@TABQAT_sa" aria-label="يوتيوب">
                                    <i class="ri-youtube-line">
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->
